
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="CheckUser" method="post">
            <table>
                <tr>
                    <th>
                        Enter Id :-
                    </th>
                    <th>
                        <input id="txtId"  name="txtId" type="text" />
                    </th>

                </tr>

                <tr>
                    <th>
                        Enter Password :-
                    </th>
                    <th>
                        <input id="txtPassword"  name="txtPassword" type="password" />
                    </th>
                </tr>

                <tr>
                    <th>
                        <input id="Submit" type="submit"  value="submit" />
                    </th>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>