@model Restuarant_Managment_System.RS.Feedback

@{

    ViewBag.Title = "FeedbackF";

}



<h2>Feedback</h2>



<form action="/Feedback4/AddFeedbackF" method="post">





    Id: <input type="text" name="Id" value="" class="form-control" />



    Feedback: <textarea type="text" name="Feedb" value="" class="form-control"> </textarea>





    <input type="submit" value="Give Feedback" class="btn btn-primary" />



</form>



